*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body{
    background: #1f2424;
    color: #fff;
}

.container{
    padding: 10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}


.logo {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 3px;
}

span {
    color: #0ef;
}
 

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: 0.5s;
}
nav ul li a:hover{
    color: #0ef;
    bottom: 2px;
}

.sxt{
    margin: 15%;
    font-size: 30px;
}
.header-text{
    margin-top: 10rem;
    font-size: 22px;
    padding-left: 5rem;
}
.header-text h1{
    font-size: 60px;
    margin-top: 7px;
}
.header-text h1 span{
    color: #0ef;
}
.header-text p{
    margin-top: 5px;
}

.social-media{
    margin-top: 2rem;
    padding-left: 5rem;
}
.btn_resume{
    margin-top: 2rem;
    padding-left: 2rem;
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: center;
    align-content: center;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    padding-right: 2rem;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    /* background: #ff004f; */
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 13px 0px;

}
.tab-contents ul li span{
    /* color: #b54769; */
    color: #0ef;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#skills{
    padding: 30px 0;
}
.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;
}
.skills-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 200;
    border-radius: 6px;
    transition: 0.5s;
}
.lm{
    cursor: pointer;
}
.skills-list div i{
    font-size: 50px;
    margin-bottom:30px;
}
.skills-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.skills-list div a{
    text-decoration: none;
    color:#fff;
    font-size: 12px;
    margin-top: 20px;
    display:inline-block;
}
.skills-list div:hover{
    background: #575757;
    transform: scale(1.1);
}
#projects{
    padding: 50px 0;
}
.pro-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;
}
.pro{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.pro img{
    width: 100%;
    border-radius: 10px;
    display:block;
    transition:transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.7),black);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    font-size: 15px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color:#0ef;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    background: #575757;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.pro:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin:50px auto;
    width: fit-content;
    border: 1px solid #0ef;
    padding: 14px 50px;
    border-radius: 20px;
    text-decoration: none;
    background: #0ef;
    color: black;
    font-size: 15px;
    font-weight: 530;
    transition: background 0.5s;
    backdrop-filter: blur(0); 
}
.btn:hover{
    background: rgb(122, 239, 248);
}
.row1{
    display:flex;
    flex-direction: column;
}
.container1{
    display: flex;
    justify-content: center;
}
.row1 p{
    margin:30px;
    transition: 0.5s;
}
.row1 p:hover{
 cursor: pointer;
 color: #0ef;
}
.row1 p i{
    margin-right:15px;
    font-size: 25px;
}
.social-media{
    margin-top: 2rem;
    padding-left: 3;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #0ef;
    transform: scale(1.1);
}
#contact{
    max-width: 500px; 
    width: 100%; 
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgba(92, 120, 122, 0.251);
    border-radius: 5px; 
    margin: 10px auto;
}
footer {
    text-align: center;
    background-color: #1f2424; 
    color: #fff; 
    /* padding: 10px 0;  */
}